@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hamburger {
  cursor: pointer;
  width: 23px;
  height: 23px;
  transition: all 0.25s;
  position: relative;
}

.hamburger span {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 0;
  left: 0;
  background: white;
}

.middle-line {
  transform: translateY(9px);
}

.bottom-line {
  transform: translateY(18px);
}

/*Remove scrollbar in tech-stack list*/
@layer utilities {
  /* Chrome, Safari and Opera */
  #tech-stack::-webkit-scrollbar {
    display: none;
  }

  #tech-stack {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
